body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

nav {
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display:flex;
}

nav li {
margin: 0 10px;
}

nav a {
color: #fff;
text-decoration: none;
font-size: 18px;
}

main {
padding: 20px;
}

table {
border-collapse: collapse;
width: 100%;
}

table th, table td {
border: 1px solid #ddd;
padding: 8px;
text-align: left;
}

table th {
background-color: #f2f2f2;
}

#formulario {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: #f2f2f2;
padding: 20px;
box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#formulario label, #formulario input, #formulario select {
display: block;
margin: 10px 0;
}

#formulario button {
margin-top: 20px;
}