<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Adicionar Produto - Northwind</title>
  <link rel="stylesheet" href="styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" style="margin-left: 10px;">Northwind</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação" style="margin-right: 10px;">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/listCustomers">Lista Clientes<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listProducts">Lista Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listOrders">Lista Pedidos</a>
        </li>

      </ul>
    </div>
  </nav>
  <div class="card text-black bg-light mb-3">
    <center>
      <h1 style="margin-top: 20px;">Adicionar Novo Produto</h1>
    </center>

    <form action="addNewProduct" method="post">
      <div style="margin: 20px;">
        <div class="row">
            <div class="form-group col-sm">
                <label for="ProductID">ID do Produto</label>
                <input type="text" class="form-control" id="ProductID" name="ProductID" required>
            </div>
          <div class="form-group col-sm">
            <label for="SupplierID">ID do Fornecedor</label>
            <input type="text" class="form-control" id="SupplierID" name="SupplierID" required>
          </div>
          <div class="form-group col-sm">
            <label for="CategoryID">ID da Categoria</label>
            <input type="text" class="form-control" id="CategoryID" name="CategoryID" required>
          </div>
        </div>

        <div class="row">
            <div class="form-group col-sm">
                <label for="ProductName">Nome do Produto</label>
                <input type="text" class="form-control" id="ProductName" name="ProductName" required>
            </div>
            <div class="form-group col-sm">
                <label for="QuantityPerUnit">Quantidade por Unidade</label>
                <input type="text" class="form-control" id="QuantityPerUnit" name="QuantityPerUnit" required>
            </div>
        </div>

        <div class="row">
          <div class="form-group col-sm">
            <label for="UnitPrice">Preço da Unidade</label>
            <input type="number" class="form-control" name="UnitPrice" id="UnitPrice" required>
          </div>
          <div class="form-group col-sm">
            <label for="UnitsInStock">Unidades em Estoque</label>
            <input type="number" class="form-control" name="UnitsInStock" id="UnitsInStock" required>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm">
            <label for="UnitsOnOrder">Unidades Encomendadas</label>
            <input type="number" class="form-control" name="UnitsOnOrder" id="UnitsOnOrder" required>
          </div>
          <div class="form-group col-sm">
            <label for="ReorderLevel">Nível de Reabastecimento</label>
            <input type="number" class="form-control" name="ReorderLevel" id="ReorderLevel" required>
          </div>
        </div>
        
        <label for="Discontinued">Descontinuado</label>
        <input type="text" class="form-control" name="Discontinued" id="Discontinued" required>
        <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Salvar</button>
      </div>
    </form>
  </div>
  <script src="main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>

</html>